/* ============================= */
/* COMPONENT CLASS */
/* ============================= */
.App {
  text-align: center;
}



.Navbar{
  background: rgb(234, 243, 210);
  padding: 10px 0;
}

.Navbar .links .custom-link{
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  background: rgb(222, 243, 178);
  border-radius: 8px;
  padding: 5px 10px;
}

.Navbar .links .custom-link:hover{
  background: rgb(243, 135, 216);
}


.Home{
  background: rgb(255, 240, 242);
  border: dashed 1px #eee;
  padding: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


/* ============================= */
/* REGULAR CLASS */
/* ============================= */
.judul-latihan{
  position: sticky;
  top: 0;
  color: rgb(112, 17, 97);
  background: rgb(157, 243, 158);
  font-size: small;
  text-align: center;
}

.content{
  padding: 10px;
}

/* ============================= */
/* BLOG LIST */
/* ============================= */
.blog-list{
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom: solid 3px rgb(228, 214, 214);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.blog-item{
  background: rgb(255, 255, 255);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.judul-blog{
  margin-top: 5px;
  font-weight: bold;
  color: rgb(37, 37, 37);
}

.pembuat-blog{
  color: rgb(87, 87, 87);
  font-style: italic;
  margin-bottom: 15px;
}